body {
    background-color: #000000;
    color: #e4e3e3;
    font-family: 'Roboto Mono';
}

html {overflow: hidden;}

#content {
    display:none;
}

#start {
    display:block;
}

.bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    opacity: 50%;
    left: 50%;
    top: 50%;
    scale: 110%;
    transform: translate(-45%, -45%);
}

.main, .startbtn {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

a {
	color: #e4e3e3;
	text-decoration: none;
    cursor: pointer;
}
a:hover {color: #ffffff;}

h1, h2, h3, h4, h5, h6, p {
    padding: 0; 
    margin: 0;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    display:inline-block;
}
