body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    z-index: 10;
    text-align: center;
    transition: opacity 1s, visibility 1s;
}

#click-message {
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
}

#text-container {
    text-align: left;
    max-width: 500px;
    margin-right: 50px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

#subtitle {
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

#button-container {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

#download-button, #discord-button, #changelog-button {
    display: inline-block;
    border: 2px solid red;
    background-color: transparent;
    color: red;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#download-button:hover {
    background-color: darkred;
    color: white;
}

#discord-button {
    border-color: #7289da;
    color: #7289da;
}

#discord-button:hover {
    background-color: #5b6abf;
    color: white;
}

#changelog-button {
    border-color: white;
    color: white;
}

#changelog-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#image-container {
    position: relative;
    width: 40vw;
    height: 50vh;
    perspective: 1000px;
}

#image {
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
    transform-style: preserve-3d;
}

#changelog-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#changelog-content {
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
    font-family: Consolas, monospace;
    font-size: 20px;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
